/* Estilos por defecto del botón */
.button {
    -fx-background-color: #4CAF50; 
    -fx-text-fill: white; 
    -fx-font-size: 14px; 
    -fx-padding: 8px 15px; 
    -fx-border-radius: 5px; 
    -fx-cursor: hand; 
    -fx-background-radius: 5px;
    -fx-border-color: transparent; 
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 ); 
}


.button:hover {
    -fx-background-color: #45a049; 
    -fx-border-color: #45a049; 
    -fx-transition: background-color 0.3s, border-color 0.3s; 
}


.button:pressed {
    -fx-background-color: #388e3c; 
    -fx-border-color: #388e3c; 
    -fx-transition: background-color 0s, border-color 0s; 
}
