.vbox-comentario {
    -fx-background-color: #2c2c2c; /* Color más oscuro para la caja del comentario */
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 4);
    -fx-spacing: 10;
}

.hbox-comentario {
    -fx-background-color: #3a3a3a; /* Color ligeramente más claro para el contenedor */
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 4);
}

.nombre-usuario {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* Color gris claro para el texto del nombre */
}

.comentario-text {
    -fx-font-size: 16px;
    -fx-text-fill: #302d2d; /* Color gris claro para el texto del comentario */
}

.comentario-container {
    -fx-spacing: 10;
    -fx-padding: 10;
}

/* Estilo para el ScrollPane */
.scroll-pane {
    -fx-background: #1a1a1a; /* Fondo del ScrollPane */
}

.scroll-pane .viewport {
    -fx-background-color: transparent; /* Hacer transparente el fondo del viewport */
}

.scroll-bar:vertical {
    -fx-background-color: #1a1a1a; /* Fondo de la barra de desplazamiento vertical */
}

.scroll-bar .thumb {
    -fx-background-color: #3a3a3a; /* Color del "thumb" (botón de desplazamiento) */
}

.scroll-bar .track {
    -fx-background-color: #1a1a1a; /* Fondo de la pista de la barra de desplazamiento */
}
