.list-view {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-text-fill: white; /* Texto por defecto en blanco */
    -fx-font-size: 16px; /* Aumentar el tamaño del texto */
}

.list-cell: odd {
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.list-cell: even {
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.list-cell: hover {
    -fx-background-color: #93f9b911;
}

.list-cell: selected {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
}

.list-view .scroll-bar:vertical,
.list-view .scroll-bar:vertical .track,
.list-view .scroll-bar:vertical .track-background,
.list-view .scroll-bar:horizontal,
.list-view .scroll-bar:horizontal .track,
.list-view .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
