/* styles.css */
.list-view {
    -fx-background-color: #333;
    -fx-border-color: #444;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}

.list-cell {
    -fx-text-fill: #fff;
    -fx-background-color: #444;
    -fx-padding: 10px;
}

.list-cell:hover {
    -fx-background-color: #555;
}

.list-cell:filled:selected, .list-cell:filled:selected:hover {
    -fx-background-color: #666;
    -fx-text-fill: #fff;
}

.button {
    -fx-background-color: #5cb85c;
    -fx-text-fill: #fff;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #4cae4c;
}
