/* Estilo para los botones por defecto */
.button {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

/* Estilo para los botones cuando el ratón está encima (hover) */
.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1); /* Fondo ligeramente más claro */
    -fx-border-color: #ffffff;
}

/* Estilo para los botones cuando están presionados (click) */
.button:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.2); /* Fondo un poco más oscuro */
    -fx-border-color: #ffffff;
}
