/* Estilo para los botones por defecto */
.button {
    -fx-background-color: #007BFF;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

/* Estilo para los botones cuando el ratón está encima (hover) */
.button:hover {
    -fx-background-color: #0056b3;
}

/* Estilo para los botones cuando están presionados (click) */
.button:pressed {
    -fx-background-color: #003f7f;
}
