.dark-background{
    -fx-background-color: #222222;
}

.button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-style: none;
}
.border-button{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #676767;
}
